<center>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>age</th>
            <th>Phone Num</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>{{ oldPerson.name }}</td>
            <td>{{ oldPerson.age }}</td>
            <td>{{ oldPerson.phoneNumber }}</td>
            <td>{{ oldPerson.address }}</td>
        </tr>
    </table>
    {{ form(form) }}
</center>